/*
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body */
@layer base {
  body {
    @apply bg-slate-900 text-white
  }
}

/* className personnalisées */
@layer components {
  .nav-link {
    /* color: rgb(216,31,38); */
    @apply cursor-pointer text-sm font-light text-[rgb(255,255,255)] transition duration-[.5s] hover:text-[rgb(219,219,219)]
  }
}